
body{
  margin-left: 10px; 
  padding: 10px; 
  background-color:dimgrey;


}

h1{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: larger;
font-weight: bold;
color:blue

}

h2{ font-size: smaller;}

header{
  font-size: 50px;
  font-weight: bold;
  color:darkslategrey;
}




